.tiptap {
     :first-child {
        margin-top: 0;
    }
    /* List styles */
    .tiptap ul,
    .tiptap ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;
        li p {
            margin-top: 0.2em;
            margin-bottom: 0.2em;
        }
    }
    /* Heading styles */
    /* h1,  */
    /* h2, 
    h3, 
    h4, 
    h5, 
    h6 {
      line-height: 25px;
      
      text-wrap: pretty;
    } */
    .tiptap h1 {
        font-size: 28px !important;
        font-family: var(--font-poppinsextra) !important;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .tiptap h2 {
        font-size: 22px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-weight: 600;
    }
    .tiptap p {
        font-size: 18px;
    }
    /* Code and preformatted text styles ß*/
    pre {
        background: #173041;
        border-radius: 5px;
        font-family: monospace;
        margin: 1rem 0;
        padding: 0.5rem 0.7rem;
        color: yellow;
        code {
            background: none;
            color: inherit;
            font-size: 14px;
            padding: 0;
        }
    }
    blockquote {
        border-left: 2px solid #0AA0EA;
        margin: 0.5rem 0;
        padding-left: 1rem;
    }
    hr {
        border: none;
        border-top: 1px solid #1C3A4D;
        margin: 1rem 0;
    }
}

.tiptap li {
    list-style-type: disc;
    list-style-position: inside;
}

.tiptap h1 {
    font-size: 26px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: var(--font-poppinsextra);
}

.tiptap h2 {
    font-size: 24px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-family: var(--font-poppinsextra);
}

.tiptap p {
    font-size: 16px;
}

@media (max-width:1278px) {
    .tiptap h1 {
        font-size: 20px;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        font-family: var(--font-poppinsextra);
    }
    .tiptap h2 {
        font-size: 18px;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        font-weight: 600;
        font-family: var(--font-poppinsextra);
    }
    .tiptap p {
        font-size: 16px;
    }
}

@media (max-width:1023px) {
    .tiptap h1 {
        font-size: 16px;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        font-family: var(--font-poppinsextra);
    }
    .tiptap h2 {
        font-size: 15px;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        font-weight: 600;
        font-family: var(--font-poppinsextra);
    }
    .tiptap p {
        font-size: 14px;
    }
}